/* NAVIGATION */
.navbar-default{
    background-color: transparent;
    border-color: #444;
    z-index: 110;
     transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
.navbar-default .navbar-nav li a{
     color: #B5B5B5;
     transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
.navbar-default .navbar-nav li a:hover{
    color: #129CF3;
}
.navbar-default .navbar-nav li a:focus { 
    color: #B5B5B5;                                                 
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-brand i{
    font-size: 30px;
    color: #129CF3;
}
.navbar-default .navbar-nav > .active>a,
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus { 
    background-color: transparent;
    color: #129CF3;
}

/* header*/
.main{
    background-image: url("../images/main-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
     -moz-background-size: cover;
    -0-background-size: cover;
    -webkit-background-size: cover;
    
}
.main-overlay{
    background-color: rgba(31,31,31,0.50);
    padding-bottom: 40px;
}
.restaurant-name h1{
    color: #129CF3;
    text-transform: uppercase;
    margin-top: 120px;    
    font-size: 55px;
    font-weight: 600;
    font-style: italic;
}
.main-iphone img{
    margin-top: 40px;
    width: 100%;
}
.header-text h2{
    padding-top: 80px; 
    color: #D8D8D8;
    text-transform: uppercase;
    font-style: italic;
}
.btn-menu{
    margin-top: 90px;
    margin-left: 140px;
    font-weight: 800;
    font-style: italic;
}
.btn-menu,
.btn-menu:focus,
.btn-menu:active,
.btn-menu:visited{
    background: transparent;
    border: 2px solid #129CF3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
.btn-menu:hover{
    background-color: #129CF3;
    color: #fff;
}
/* TODAY'S SPECIAL  */
.special{
    background-image: url(../images/special-bg.jpg);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    -webkit-background-size: cover;
    
}
.special-overlay{
    background-color: rgba(31,31,31,0.7);
}

.special-image{
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 1;
    position: relative;
      transition: all 1s;
     -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
.special-image img{
    border: 3px solid #129CF3;
    border-radius: 20px;
     transition: all 2s;
     -webkit-transition: all 2s;
    -o-transition: all 2s;
    -moz-transition: all 2s;
}
.special-image:hover img{
    opacity: 0;
}
.special-items{
    opacity: 0;
    position: absolute;
}
.special-items{
    position: absolute;
    opacity: 0;
    bottom: 100px;
    width: 90%;
    transition: all 1s;
     -webkit-transition: all 1s;
    -o-transition: all 1s;                                           
    -moz-transition: all 1s;
}
.special-items h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: #D7DADB;
    font-size: 30px;
    font-style: italic;
}
.special-image:hover .special-items{
    opacity: 1;
}
/* MENU */
.menu{
    background-image: url(../images/menu-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -0-background-size: cover;
    -webkit-background-size: cover;
}
#vegetarian,
#soups{
    border-left: 1px solid #0F1217;
}
.menu-items,
.menu-rates{
    font-size: 18px;
    font-style: italic;
    color: black;
    font-weight: 200;
    
}
/* ABOUT */
.section-title{
    padding-top: 50px;
    padding-bottom: 20px;
}
.section-title h2{
    text-transform: uppercase;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    color: #333;
    position: relative;
    padding-bottom: 10px;
}
.section-title p{
    padding-top: 20px;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    
}
.section-title h2:after{
    content: "";
    position: absolute;
    background-color: #129CF3;
    height: 2px;
    width: 60px;
    left: 50%;
    margin-top: 60px;
    margin-left: -40px;
}

.about-info{
    background-image: url("../images/about-bg.jpg");
     background-attachment: fixed;
     background-repeat: no-repeat;
    background-position: 50% 50%;
     background-size: cover;
     -moz-background-size: cover;
     -0-background-size: cover;
     -webkit-background-size: cover;
}
.about-info-overlay{
    background-color: rgba(31,31,31,0.50);
    padding-bottom: 30px;

}
.carousel-inner .item img{
    height: 60%;
    width: 80%;
    border: 2px solid #129CF3;
    border-radius: 10px;
    padding: 2px;
    margin-top:30px;
}
.carousel-indicators{
    bottom: -40px;
}
.about-caption h2{
    font-size: 30px;
    padding-top: 15px;
    color: #129CF3;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}
.about-caption p{
    font-size: 18px;
    padding-top: 15px;
    color: #D8D8D8;
    text-align: center;
}
/* chef */
.chef-info{
    background-image: url("../images/chef_bg.jpeg");
     background-attachment: fixed;
     background-repeat: no-repeat;
    background-position: 50% 50%;
     background-size: cover;
     -moz-background-size: cover;
     -0-background-size: cover;
     -webkit-background-size: cover;
}
.chef-overlay{
    background-color: rgba(31,31,31,0.50);
    padding-bottom: 30px;
}
.chef-about .carousel-inner .item img{
    height: 30%;
    width: 30%;
    border: 2px solid #129CF3;
    border-radius: 50%;
    padding: 2px;
    margin-top:30px;
}
.chef-caption h2{
    color: #DBDBDB;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 10px;
    font-style: italic;
    text-align: center;
}
/*COUNTERS  */
.counter{
     margin-top: 90px;
     background-image: url("../images/counter-bg.jpg");
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     background-size: cover;
     -moz-background-size: cover;
     -0-background-size: cover;
     -webkit-background-size: cover;
}
.counter-overlay{
    background-color: rgba(31,31,31,0.4);
    padding-top: 120px;
    padding-bottom: 120px;
}
.counter-item i{
    color: #129CF3;
    font-size: 60px;
}
.counter-item h2{

    color: #D7DADB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
}
.counter-item p{
    color: #D7DADB;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;

}
/* download */
.img-download img{
    width: 100%;
}
/* available */
.available{
    background-color: #1a1a1a;
    position: relative;
}
.available-title{
    padding-top: 75px;
}
.available-title h2{
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}
.available-title p{
    color: #B5B5B5;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.available-item{
    text-align: center;
    border-left: 1px solid #0F1217;   
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
.available-item:hover{
    background-color: #121212;
}
.available-item i{
    color: #129CF3;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
     transition: all 1s;
     -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    
}
.available-item:hover i{
    opacity: 0; 
}
.available-inner{
    position: absolute;
    opacity: 0;
    bottom: 93px;
    width: 100%;
    transition: all 1s;
     -webkit-transition: all 1s;
    -o-transition: all 1s;                                           
    -moz-transition: all 1s;
}
.available-inner h2{
    text-align: center;
    font-weight: 300;
    color: #D7DADB;
    font-size: 16px;
}
.available-item:hover .available-inner{
    opacity: 1;
}
/* RESERVATION */
.reserve-form .form-control{
    margin-top: 30px;
    display: block;
    height: 50px;
    width: 100%;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    margin-bottom: 15px;
    opacity: 0.8;
    outline: 0px !important;
    transition: all 1s;
     -webkit-transition: all 1s;
    -o-transition: all 1s;                                           
    -moz-transition: all 1s;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited{
    background-color: transparent;
    border: 1px solid #129CF3;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    color: #129CF3;
    transition: all 1s;
     -webkit-transition: all 1s;
    -o-transition: all 1s;                                           
    -moz-transition: all 1s;
}
.submit-btn:hover{
    background-color: #129CF3;
    color: #fff;
    border-color: #129CF3;
}
.social-icons{
    padding-top: 50px;
    padding-bottom: 70px;
}
.social-icons ul{
    text-align: center;
}
.social-icons ul li{
    list-style: none;
    display: inline;
    padding-left: 10px;
}
.social-icons ul li a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 49px;
    color: #9d9d9d;
    transition: all 1s;
     -webkit-transition: all 1s;
    -o-transition: all 1s;                                           
    -moz-transition: all 1s;
}
.social-icons ul li a i{
    font-size: 20px;
}
.social-icons ul li a:hover{
    background-color: #129CF3;
    color: #fff;
    border: 1px solid #129CF3;
    transition: all 1s;
     -webkit-transition: all 1s;
    -o-transition: all 1s;                                           
    -moz-transition: all 1s;
}
/* footer  */
.footer{
    background-color: #1a1a1a;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 3px solid #129CF3;
}
.copyright p{
    color: #8C8BBA;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
.scroll-top{
    text-align: right;
}
.scroll-top a{
    border: 1px solid #129CF3;
    background-color: #129CF3;
    padding: 25px;
    
}
.scroll-top a i{
    font-size: 18px;
    color: #fff;
}